In [2]:
import matplotlib.pyplot as plt
plt.rcParams['axes.unicode_minus'] = False
import numpy as np
import random
import mplcyberpunk
import pandas as pd
import seaborn as sns
import matplotlib as mpl

import warnings

%matplotlib inline
plt.style.use('cyberpunk')
warnings.filterwarnings("ignore")

/Users/tastebread/miniforge3/envs/rena/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')

movies.shape
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
#주요 컬럼만 추출해서 데이터 프레임을 새로 생성

col = ['id','title','genres','vote_average','vote_count','popularity','keywords','overview']
"""
id : 아이디
title : 영화 제목
genres : 영화 장르
vote_average,count : 평균평점, 평점 투표 수
popularity : 영화의 인기 정도
keywords : 영화를 설명하는 주요 키워드 문구
overview : 영화에 대한 개요 설명
"""
new_movies = movies[col]
new_movies

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",6.6,238,14.269792,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.9,5,0.642552,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",7.0,6,1.444476,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]",6.3,16,1.929883,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [5]:
pd.set_option('max_colwidth',80)
new_movies.head(1)

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id...","In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora o..."

In [6]:
from ast import literal_eval

#genres 컬럼은 리스트내의 사전인 것으로 실제로는 전체가 하나의 문자열로 되어있다
#literal_eval -> 딕셔너리 형태로 변경해준다 이렇게 되면 key-value 를 사용할 수 있음

#문자열을 객체로 변경 : 리스트 내의 사전 으로 변경
new_movies['genres'] = new_movies['genres'].apply(literal_eval) 
new_movies['keywords'] = new_movies['keywords'].apply(literal_eval)


#객체에서 name만 추출해서 올린다

new_movies['genres'] = new_movies['genres'].apply(lambda x : [ dic['name'] for dic in x] )
new_movies['keywords'] = new_movies['keywords'].apply(lambda x : [ dic['name'] for dic in x] )

new_movies[['genres','keywords']]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futu..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india trading company, love of one's..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi6, british secret service, uni..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret identity, burglar, hostage dram..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel, princess, alien, steampunk, ..."
...,...,...
4798,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, paper knife, guitar case]"
4799,"[Comedy, Romance]",[]
4800,"[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investigation, team, postal worker]"
4801,[],[]
4802,[Documentary],"[obsession, camcorder, crush, dream girl]"

In [18]:
#장르 콘텐츠 유사도 측정

from sklearn.feature_extraction.text import CountVectorizer

"""
CountVectorizer : 문서를 token count matrix 로 변환하는 클래스 이다
"""

#리스트의 객체를 다시 문자열로 변환
new_movies['literal_genres'] = new_movies['genres'].apply(lambda x: (' ').join(x))

#CountVectorizer
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))

genre_mat = count_vect.fit_transform(new_movies['literal_genres'])

print(genre_mat.shape)

(4803, 276)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

"""
cosine_similarity 를 이용해 장르 유사도 행렬 생성
"""
genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim[0]

array([1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
       0.        ])

In [20]:
#특정 영화 와 장르 유사도가 높은 영화의 정보를 얻기 위한 함수를 생성

def find_sim_movie(df, sim_matrix, title_name, top_n=10):
    
    
    #입력한 영화의 index
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    #입력한 영화의 유사도 데이터 프레임 추카
    df['similarity'] = sim_matrix[title_index, :].reshape(-1,1)
    
    #유사도 내림차순 정렬 후 상위 index 추출
    temp = df.sort_values(by='similarity', ascending=False)
    final_index = temp.index.values[ : top_n]
    
    return df.iloc[final_index]

In [22]:
#대부와 장르별 유사도가 높은 영화 10개

similar_movies = find_sim_movie(new_movies, genre_sim, 'The Godfather', 10)
similar_movies[['title','vote_average','similarity']]

                                               title  vote_average  similarity
3636                                   Light Sleeper           5.7         1.0
892                                           Casino           7.8         1.0
3866                                     City of God           8.1         1.0
1243                                    Mean Streets           7.2         1.0
1370                                              21           6.5         1.0
4041                                 This Is England           7.4         1.0
1847                                      GoodFellas           8.2         1.0
2582                      The Place Beyond the Pines           6.8         1.0
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0         1.0
4217                                            Kids           6.8         1.0

In [23]:
#평점이 높은 순으로 영화를 정렬함  10개의 Index 만 출력

new_movies[['title','vote_average','vote_count']].sort_values('vote_average',ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [24]:
#가중 평점 함수 생성

percentile = 0.6

m = new_movies['vote_count'].quantile(percentile)
C = new_movies['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C ) 


new_movies['weighted_vote'] = new_movies.apply(weighted_vote_average, axis=1)

In [25]:
temp = new_movies[['title','vote_average','vote_count','weighted_vote']]
temp.sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930
1818          Schindler's List           8.3        4329       8.126069
3865                  Whiplash           8.3        4254       8.123248
809               Forrest Gump           8.2        7927       8.105954
2294             Spirited Away           8.3        3840       8.105867
2731    The Godfather: Part II           8.3        3338       8.079586

In [28]:
def find_sim_movie(df, sim_matrix, title_name, top_n=10):
    
    
    #입력한 영화의 index
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    #입력한 영화의 유사도 데이터 프레임 추카
    df['similarity'] = sim_matrix[title_index, :].reshape(-1,1)
    
    #유사도 내림차순 정렬 후 상위 index 추출
    temp = df.sort_values(by=['similarity','weighted_vote'], ascending=False)
    final_index = temp.index.values[ : top_n]
    
    return df.iloc[final_index]

similar_movies = find_sim_movie(new_movies, genre_sim, 'The Godfather', 10)
similar_movies[['title','vote_average','similarity']]

                            title  vote_average  similarity
1881     The Shawshank Redemption           8.5         1.0
3337                The Godfather           8.4         1.0
2731       The Godfather: Part II           8.3         1.0
1847                   GoodFellas           8.2         1.0
3866                  City of God           8.1         1.0
1663  Once Upon a Time in America           8.2         1.0
3887                Trainspotting           7.8         1.0
883           Catch Me If You Can           7.7         1.0
892                        Casino           7.8         1.0
281             American Gangster           7.4         1.0